APPLE_TEAM_ID=your_team_id_here
APPLE_ITC_TEAM_ID=your_itc_team_id_here
APPLE_ID=your_apple_id_email@example.com
APPLE_PROVISIONING_PROFILE=your_provisioning_profile_uuid_here
APPLE_PROVISIONING_PROFILE_ADHOC=your_adhoc_provisioning_profile_uuid_here
EXPORT_COMPLIANCE_CODE=your_export_compliance_code_here

# Firebase App Distribution
FIREBASE_IOS_APP_ID=your_firebase_ios_app_id_here
FIREBASE_TESTERS=your_email@example.com,another@example.com
