name: Coverage Verification

on:
  push:
    branches: [ "master" ]

jobs:
  verify_coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Tests and Generate Kover Report
        run: ./gradlew :composeApp:koverXmlReport

      - name: Check Coverage
        run: python3 scripts/check_coverage.py
